site_name: SVETlANNa Documentation
theme:
  name: material
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: teal
      accent: light blue
      toggle:
        icon: material/weather-night
        name: Switch to dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: teal
      accent: blue
      toggle:
        icon: material/weather-sunny
        name: Switch to light mode
  icon:
    repo: fontawesome/brands/github
  features:
    - navigation.instant
    - navigation.sections
    - navigation.indexes
    - navigation.path
    - toc.follow
    - toc.integrate
    - content.code.annotate
    - content.code.copy
    - search.suggest
    - search.highlight
  font: false

extra_css:
  - css/extra.css
  - https://unpkg.com/katex@0/dist/katex.min.css

extra_javascript:
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

repo_url: https://github.com/CompPhysLab/SVETlANNa

nav:
  - Home: index.md
  - API Reference:
    - svetlanna: reference/svetlanna.md
    - elements:
      - Element: reference/elements/element.md
      - Apertures: reference/elements/apertures.md
      - Diffractive Layers: reference/elements/diffractive_layers.md
      - Thin Lens: reference/elements/thin_lens.md
      - Nonlinear Element: reference/elements/nonlinear_elements.md
      - Spatial Light Modulator: reference/elements/slm.md

plugins:
  - search
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_section_style: list
            show_submodules: false
            show_category_heading: false
            show_root_heading: true
            merge_init_into_class: true
            show_source: false
            separate_signature: true
            line_length: 60
            show_signature_annotations: true
            show_signature_type_parameters: true
            show_symbol_type_heading: true
            show_symbol_type_toc: true
            signature_crossrefs: true
            show_bases: true
            docstring_style: numpy
            show_docstring_description: true
            show_docstring_examples: true
            members_order: source
            unwrap_annotated: true
            filters:
              - "!^_"

markdown_extensions:
  - def_list
  - attr_list
  - md_in_html
  - toc:
      toc_depth: 3
  - pymdownx.blocks.caption
  - pymdownx.arithmatex:
      generic: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences

