# Ignore datasets
data/

# ignore some auto encoder results
models/autoencoder/ae_with_phases

# ignore some Weizmann experiments results folder
models/reproduced_results/weizmann_exp*/

# ignore tensorboard folder
runs/